.App {
    text-align: center;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.navrow {
    background-color: darkblue;
}

.name {
    text-align: center;
    color: white;
    font-weight: 500;
    font-size: 40px;
}

.navbar {
    font-size: 20px;
    font-family: "Josefin Sans", sans-serif;
}

.Nav-Link:hover {
    text-decoration: none;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #212529;
    color: white;
    text-align: center;
    height: 30px;
}

html, body {
    height: 100%;
}

body {
    background-color: darkslategray;;
}
